.product-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.product-image {
    width: 15rem;
    object-fit: contain;
    margin-top: 2rem;
}

.product-detail {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}

.important-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.other-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .other-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.back-container {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #a2a2a2;
    font-size: 1rem;
    line-height: 1.5rem;
}

.dot-black {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}